---
import '../styles/global.css';

const { frontmatter } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{frontmatter.title}</title>
  </head>
  <body
    class="prose dark:prose-invert bg-white dark:bg-black my-8 mx-auto max-w-prose print:max-w-full print:my-0 print:mx-0"
  >
    <slot />
    <script src="https://static.esvmedia.org/crossref/crossref.min.js" type="text/javascript"></script>
  </body>
</html>
